#directory {
  float: left;
  width: 960px;}

#directory .page {
  display: none;
  margin-bottom: 24px;}

#directory .page-selected {
  display: block;}

#directory .listing {
	width: 675px;
	padding-bottom: 10px;
  margin: 12px 0;
  font-size: 18px;
  border-bottom: 1px solid #eee;}

h4 {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 3px;}

h4 a, 
h4 a:visited {
  color: #EA288F;}

h5 {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  margin-bottom: 3px;}

#directory .image {
  float: right;
  width: 115px;}

#directory a img,
#listing a img {}

#directory a:hover img,
#listing a:hover img {}

#directory .info {
  float: left;
  width: 500px;}

#directory .marker {
  float: left;
  margin: 10px 15px 0 0;}

.clear {
  clear: both;}

.pagination {
	width: 655px;
  font-size: 18px;
  padding: 7px 10px 3px 10px;
  margin-bottom: 0 0 24px 0;
  background: #f3f3f3;}

.pagination select,
.pagination option {
	font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;}

.pagination form {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  font-weight: bold;}

.pagination a.disabled {
  color: #666;
  cursor: auto;}

.pagination a.disabled:hover {
  text-decoration: none;}

.pagination .left {
  float: left;}

.pagination .right {
  float: right;}

#listing {
  float: left;
  width: 960px;
  font-size: 16px;}

#listing a.back_to {
	font-size: 80%;
	font-weight: bold;}

#listing h4 {
  margin-top: 5px;
  color: #ea288f;}

#listing .images {
  margin: 10px 0 15px 0;}

#listing .images a img {
  margin: 5px 5px 0 0;}

#listing .images a img.attachment-large {
	width: 590px;
	height: auto;}

#listing .images a img.attachment-thumbnail {
	border: none;
	width: 50px;
	height: 50px;}

#listing .content {
	width: 590px;
  margin: 12px 0;
  color: #000;}

#listing .content p {
  margin: 0 0 12px 0;}

#listing .metadata {
  font-weight: bold;}

#listing .metadata h5 {
  margin-top: 24px;
  font-weight: bold;
  color: #777;}

#listing .column {
  float: right;
  width: 359px;
  padding: 12px 0 0 0;
  list-style: none;}

#listing .column li {
	padding: 10px;
	margin: 0 0 10px 0;
	color: #000;
	font-weight: bold;
	background: #f3f3f3;
	position: relative;}

#listing .column li h5 {
	color: #666;}

#listing .column li.links {
	background: none;}

#listing .column li.location {
	min-height: 151px;
	padding: 10px 10px 10px 145px;}

#listing .column li.location .map {
	position: absolute;
	top: 10px;
	left: 10px;}

#map {
  width: 675px;
  height: 408px;
  margin-bottom: 15px;}

.infowindow {
  font-size: 16px;
  font-weight: bold;
  width: 285px;
  min-height: 40px;
  line-height: 20px;
}

#filters {
	width: 250px;
	padding: 10px;
	float: right;
	background: #f3f3f3;
  font-size: 14px;
  margin-top: 48px;}

#filters label {
	padding: 5px 0 0 0;
	font-size: 150%;
	color: #000;
	font-weight: bold;}

#filters select {
  width: 200px;
  font-size: 14px;
  margin-bottom: 10px;}

#filters .column {
  float: left;
  width: 210px;
  line-height: 22px;}

#filters .first {
  margin-right: 30px;}

#filters #search {
  display: block;
  width: 240px;
  padding: 3px;
  font-size: 15px;
  margin: 5px 0 10px 0;}

#search-button {
	margin: 5px 0 0 0;
	float: right;
	padding: 15px 10px 10px 10px;
  font-size: 27px;
  font-weight: bold;
  color: #fff;
  background: #ea288f;
  border: none;}

#results {
	margin: 0 0 10px 0;
  font-size: 1.5em;}

#results h2 {
	clear: none;
	padding: 0 0 3px 0;
	font-size: 200%;
  color: #ea288f;}

.hide {display:none;}